<div class="container">
  <h2>ユーザー情報</h2>
  <div class="show-user-container">
    <div class="show-user-details">
      <div class="show-user-left">
        <% if @user.image.blank? %>
          <%= image_tag "default_user_image.png", class: "show-user-img" %>
        <% else %>
          <%= image_tag @user.image.url, class: "show-user-img" %>
        <% end %>
      </div>
      <div class="show-user-right">
        <div class="show-user-nickname"><%= @user.nickname %></div>
        <div class="show-user-username">@<%= @user.username %></div>
        <div class="show-user-introduction"><%= @user.introduction %></div>
      </div>
    </div>
    <% if user_signed_in? && @user.id == current_user.id %>
      <div class="show-user-setting">
        <%= link_to "プロフィールを編集", edit_user_registration_path(@user.id), class: "btn2" %>
      </div>
    <% end %>
  </div>

  <h2>クチコミ</h2>
  <%= render partial: "shared/reviews", locals: { reviews: @reviews } %>
</div>