<%= form_with model: item, class: "form-wrapper", local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div class="form-field">
    <%= f.label :image, "商品画像", class: "form-label" %><br>
    <%= f.file_field :image, class: "form-file-field" %>
  </div>

  <div class="form-field">
    <%= f.label :name, "商品名", class: "form-label" %><br>
    <%= f.text_field :name, class: "form-text-field" %>
  </div>

  <div class="form-field">
    <%= f.label :category_id, "カテゴリ", class: "form-label" %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
  </div>

  <div class="form-field">
    <%= f.label :capacity, "容量", class: "form-label" %><br>
    <%= f.text_field :capacity, class: "form-text-field-short" %>
    <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}) %>
  </div>

  <div class="form-field">
    <%= f.label :price, "価格", class: "form-label" %><span class="form-const">税込</span><br>
    <%= f.text_field :price, class: "form-text-field-short" %>
  </div>

  <div class="form-field">
    <%= f.label :introduction, "商品説明", class: "form-label" %><br>
    <%= f.text_area :introduction, class: "form-text-area" %>
  </div>

  <div class="form-field">
    <%= f.submit "登録する", class: ["btn", "form-btn"] %>
  </div>
<% end %>