<ul class="reviews">
  <% reviews.each do |review| %>
    <li class="review">
      <%= link_to root_path, class: "review-container" do %>
        <% if review.image.present? %>
          <%= image_tag review.image.url, class: "review-img" %>
        <% else %>
          <div class="review-img"></div>
        <% end %>
        <div class="review-right">
          <p><i class="fas fa-star review-star"></i><%= review.score %></p>
          <p class="review-text"><%= review.text %></p>
          <p class="review-user-nickname"><%= review.user.nickname %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>