<ul class="reviews">
  <% reviews.each do |review| %>
    <li class="review">
      <%= link_to root_path, class: "review-container" do %>
        <% if review.image.present? %>
          <%= image_tag review.image.url, class: "review-img" %>
        <% else %>
          <div class="review-img"></div>
        <% end %>
        <div class="review-right">
          <div class="review-score">
            <div class="review-stars">
              <span class="review-stars-front" style="width: <%= review.score + ( 0.2 * review.score ) %>em">★★★★★</span>
              <span class="review-stars-back">☆☆☆☆☆</span>
            </div>
            <%= review.score %>
          </div>
          <div class="review-text"><%= review.text %></div>
          <div class="review-user-nickname"><%= review.user.nickname %></div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
