<div class="container">

  <h2>ログイン</h2>

  <%= form_with model: @brand, url: brand_session_path, local: true do |f| %>
    <ul>
      <%= content_tag(:li, flash[:error], class: "error-message") if flash[:error] %>
      <%= content_tag(:li, flash[:notice], class: "error-message") if flash[:notice] %>
      <%= content_tag(:li, flash[:alert], class: "error-message") if flash[:alert] %>
    </ul>

    <div class="field">
      <%= f.email_field :email, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: "パスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

</div>