<div class="container">

  <h2>商品登録</h2>

  <%= form_with model: @item, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
      <%= f.label :image, "商品画像" %><br>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :name, "商品名" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :category_id, "カテゴリ" %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
    </div>

    <div class="field">
      <%= f.label :capacity, "容量" %><br>
      <%= f.text_field :capacity %>
      <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}) %>
    </div>

    <div class="field">
      <%= f.label :price, "価格" %><br>
      <%= f.text_field :price %>
    </div>

    <div class="field">
      <%= f.label :introduction, "商品説明" %><br>
      <%= f.text_area :introduction %>
    </div>

    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>

</div>