<div class="container">
  <p><%= @item.brand.name %></p>
  <h2><%= @item.name %></h2>
  <div class="flex">
    <%= image_tag @item.image.url, class: "show-item-img" %>
    <div>
      <p><%= @item.category.name %></p>
      <p><%= @item.capacity %><%= @item.unit.name %> / <%= @item.price %>円</p>
      <p><%= @item.introduction %></p>
      <%=  link_to "この商品に対するクチコミを投稿する", new_item_review_path(@item.id), class: "btn2" %>
    </div>
  </div>
</div>