<div class="container">

  <h2>商品詳細</h2>
  <p class="show-item-brand-name"><%= @item.brand.name %></p>
  <h3 class="show-item-name"><%= @item.name %></h3>
  <div class="show-item">
    <%= image_tag @item.image.url, class: "show-item-img" %>
    <div class="show-item-right">
      <a href="#reviews" class="show-avg-btn">
        <div class="show-avg">
          <div class="show-avg-left">
            <div class="show-avg-stars">
              <span class="show-avg-stars-front" style="width: <%= @item.avg_score + ( 0.2 * @item.avg_score.floor ) %>em">★★★★★</span>
              <span class="show-avg-stars-back">☆☆☆☆☆</span>
            </div>
            <span class="show-avg-value"><%= @item.avg_score %></span>
            <span class="show-reviews-count">(<%= @reviews.count %>件)</span>
          </div>
          <div class="show-avg-right">
            <span class="show-reviews-text">クチコミ一覧を見る</span>
            <i class="fas fa-angle-down show-reviews-sort"></i>
          </div>
        </div>
      </a>
      <div class="show-specs">
        <dl class="show-spec">
          <dt class="show-spec-title">カテゴリ</dt>
          <dd><%= @item.category.name %></dd>
        </dl>
        <dl class="show-spec">
          <dt class="show-spec-title">容量 / 価格</dt>
          <dd><%= @item.capacity %><%= @item.unit.name %> / <%= @item.price %>円</dd>
        </dl>
        <dl class="show-spec">
          <dt class="show-spec-title">商品説明</dt>
          <dd><%= @item.introduction %></dd>
        </dl>
      </div>
      <%= link_to "この商品のクチコミを投稿する", new_item_review_path(@item.id), class: "btn show-new-review" %>
    </div>
  </div>

  <h2 id="reviews">クチコミ一覧</h2>
  <%= render partial: "shared/reviews", locals: { reviews: @reviews } %>

</div>