<div class="container">

  <h2 class="form-title">ブランド情報の編集</h2>
  <div class="form-line"></div>

  <%= form_with model: @brand, url: brand_registration_path, method: :put, class: "form-wrapper", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>

    <div class="form-field">
      <%= f.label :image, "プロフィール画像", class: "form-label" %><br>
      <%= f.file_field :image, class: "form-file-field" %>
    </div>
    
    <div class="form-field">
      <%= f.label :name, "ブランド名", class: "form-label" %><br>
      <%= f.text_field :name, class: "form-text-field", placeholder: "無印良品" %>
    </div>

    <div class="form-field">
      <%= f.label :official_site, "公式サイトのリンク", class: "form-label" %><br>
      <%= f.text_field :official_site, class: "form-text-field", placeholder: "https://www.muji.com/jp/ja/store" %>
    </div>

    <div class="form-field">
      <%= f.label :email, "メールアドレス", class: "form-label" %><br>
      <%= f.text_field :email, class: "form-text-field", placeholder: "mujirushi@example.com" %>
    </div>

    <div class="form-field">
      <%= f.label :introduction, "プロフィール文", class: "form-label" %><br>
      <%= f.text_area :introduction, class: "form-text-area", placeholder: "無印良品のスキンケアは、さまざまな肌のタイプやお悩みにあわせて、敏感肌・エイジングケア・クリアケア・ハーバルのシリーズ・アイテムをご用意しています。" %>
    </div>

    <div class="form-field">
      <%= f.submit "登録する", class: ["btn", "form-btn"] %>
    </div>

  <% end %>

</div>