<div class="container">

  <h2>クチコミの投稿</h2>

  <%= form_with model: [@item, @review], local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="field">
      <label>評価</label>
      <div class="stars-count">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>

    <div class="field">
      <%= f.label :image, "画像を追加" %><br>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :text, "クチコミ本文" %><br>
      <%= f.text_area :text %>
    </div>

    <%= f.hidden_field :score, id: "rating-value" %>

    <div class="actions">
      <%= f.submit "投稿する" %>
    </div>
  <% end %>

</div>