<!DOCTYPE html>
<html>
  <head>
    <title>Mency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="container">
        <div class="header">
          <h1 class="header-title">
            <%= link_to image_tag("title1.png", alt: "Mency", class: "header-title-img"), root_path %>
          </h1>
          <nav>
            <ul class="header-lists">
              <% if user_signed_in? %>
                <li>
                  <%= link_to root_path, class: "current-user" do %>
                    <% if current_user.image.blank? %>
                      <%= image_tag "default_user_image.png", alt: "ログインユーザーのアイコン", class: "current-user-image" %>
                    <% else %>
                      <%= image_tag current_user.image, alt: "ログインユーザーのアイコン", class: "current-user-image" %>
                    <% end %>
                    <span class="current-user-name"><%= current_user.nickname %></span>
                  <% end %>
                </li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: ["btn", "logout"] %></li>

              <% elsif brand_signed_in? %>
                <%= link_to root_path, class: "current-user" do %>
                  <% if current_brand.image.blank? %>
                    <%= image_tag "default_user_image.png", alt: "ログインブランドのアイコン", class: "current-user-image" %>
                  <% else %>
                    <%= image_tag current_brand.image, alt: "ログインブランドのアイコン", class: "current-user-image" %>
                  <% end %>
                  <span class="current-user-name"><%= current_brand.name %></span>
                <% end %>
                </li>
                <li><%= link_to "商品を登録する", new_item_path, class: ["btn", "new-item"] %></li>
                <li><%= link_to "ログアウト", destroy_brand_session_path, method: :delete, class: ["btn", "logout"] %></li>

              <% else %>
                <li><%= link_to "企業の方はこちら", new_brand_session_path, class: "brand-login" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: ["btn", "login"] %></li>
                <li><%= link_to "新規登録", new_user_registration_path, class: ["btn", "signup"] %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <div class="footer">
          <%= link_to image_tag("title2.png", alt: "Mency", class: "footer-title-img"), root_path %>
          <ul class="footer-lists">
            <li><a href="https://twitter.com/knmr216" class="footer-icon twitter" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter my-set"></i></a></li>
            <li><a href="https://www.instagram.com/knmr216/" class="footer-icon instagram" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram my-set"></i></a></li>
            <li><a href="mailto:kohei.nomura.030216@gmail.com" class="footer-icon mail" target="_blank" rel="noopener noreferrer"><i class="far fa-envelope my-set"></i></a></li>
          </ul>
          <p class="copyright">&copy; 2021 Kohei Nomura</p>
        </div>
      </div>
    </footer>

  </body>
</html>
