<!DOCTYPE html>
<html>
  <head>
    <title>Mency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container header">
        <div class="header-left">
          <h1><a href="/" class="title">Mency</a></h1>
        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <%= link_to current_user.nickname, "#", class: "user-nickname" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: ["logout", "btn"] %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: ["signin", "btn"] %>
            <%= link_to "新規登録", new_user_registration_path, class: ["signup", "btn"] %>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
