<!DOCTYPE html>
<html>
  <head>
    <title>Mency</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container">
        <div class="header">
          <h1>
            <%= link_to image_tag("title.png", alt: "Mency", class: "title-img"), root_path %>
          </h1>
          <nav>
            <ul class="header-lists">
              <% if user_signed_in? %>
                <li>
                  <%= link_to root_path, class: "current-user" do %>
                    <% if current_user.image.blank? %>
                      <%= image_tag "default_user_image.png", alt: "ログインユーザーのアイコン", class: "current-user-image" %>
                    <% else %>
                      <%= image_tag current_user.image, alt: "ログインユーザーのアイコン", class: "current-user-image" %>
                    <% end %>
                    <span class="current-user-name"><%= current_user.nickname %></span>
                  <% end %>
                </li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: ["btn", "logout"] %></li>
              <% else %>
                <li><%= link_to "ログイン", new_user_session_path, class: "btn" %></li>
                <li><%= link_to "新規登録", new_user_registration_path, class: ["btn", "signup"] %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>

  </body>
</html>
