<div class="container">

  <h2 class="form-title">ユーザー情報の編集</h2>
  <div class="form-line"></div>

  <%= form_with model: @user, url: user_registration_path, method: :put, class: "form-wrapper", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>

    <div class="form-field">
      <%= f.label :image, "プロフィール画像", class: "form-label" %><br>
      <%= f.file_field :image, class: "form-file-field" %>
    </div>
    
    <div class="form-field">
      <%= f.label :nickname, "ニックネーム", class: "form-label" %><br>
      <%= f.text_field :nickname, class: "form-text-field", placeholder: "タロウ" %>
    </div>

    <div class="form-field">
      <%= f.label :username, "ユーザーID", class: "form-label" %><span class="form-const">半角英数字4文字以上</span><br>
      <%= f.text_field :username, class: "form-text-field", placeholder: "taro123" %>
    </div>

    <div class="form-field">
      <%= f.label :introduction, "プロフィール文", class: "form-label" %><br>
      <%= f.text_area :introduction, class: "form-text-area", placeholder: "よろしくお願いします！" %>
    </div>

    <div class="form-field">
      <%= f.label :email, "メールアドレス", class: "form-label" %><br>
      <%= f.text_field :email, class: "form-text-field", placeholder: "taro@example.com" %>
    </div>

    <div class="form-field">
      <%= f.submit "登録する", class: ["btn", "form-btn"] %>
    </div>

  <% end %>

</div>